
body {
    width: 100vh;
    margin: 0;
}

.card {
    margin-left: auto;
    margin-right: auto;
}

@media  screen and (max-device-width : 480px) {
    body{
        font-size: 1.9em;
        padding: 24px;
    }
    .card {
        width: 100vh;
    }

    input {
        height: 48px;
    }
}

@media screen and (min-device-width : 480px) {
    form {
        margin-left: 40vh;
        width: 70vh;
        border: black solid 2px;
        padding: 24px;
        border-radius: 12px;
        margin-top: 20vh;
    }
}

@media only screen and (min-width: 768px)  {
    body{
        font-size: 14px;
    }
    form {
        margin-left: 50vh;
        width: 70vh;
        border: black solid 2px;
        padding: 24px;
        border-radius: 12px;
        margin-top: 20vh;
    }
}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1024px) {
    body{
    }

    form {
        margin-left: 90vh;
        width: 70vh;
        border: black solid 2px;
        padding: 24px;
        border-radius: 12px;
        margin-top: 20vh;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {

    form {
        margin-left: 90vh;
        width: 70vh;
        border: black solid 2px;
        padding: 24px;
        border-radius: 12px;
        margin-top: 20vh;
    }
}
